    body{
        margin: 0
    }

    .auth-container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    }


    form{
    width: 300px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #A1ACBD;
    }

    form.login{
        height: 350px;
    }

    form.register{
        height: 400px;
    }

    .auth-container form input[type='submit']{
        width: 150px;
    }

    .auth-container form .submit-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .auth-container form input[type='text'], input[type='password'] {
        height: 25px;
        margin-top: 5px
    }