

<div class="job-content">
    {% for jobsource in job_sources %}

    {% set all_jobs_of_jobsource = json_content.get(jobsource, "") %}

    <h1>{{prettify_job_sources()[jobsource]}}</h1>

    {% if all_jobs_of_jobsource %}

    <div class="to_acknowledge {{jobsource}}">
        {% with to_acknowledge = True %}
            {% for job in all_jobs_of_jobsource %}
                {% if not job.get("acknowledged") %}
                    {% include "job.html"%}
                {%endif%}
            {% endfor %}
        {% endwith %}
    </div>
    {%else%}
    <p>Leider sind momentan keine Jobs vorhanden. Auf der linken Seite können neue gesucht werden.</p>

    {% endif %}



    <div>

    <button class="show_acknowledged">
        Zeige quittierte
    </button>
</div>
    <div class="acknowledged {{jobsource}}">
        {% with to_acknowledge = False %}
        {% for job in json_content.get(jobsource, "") %}
        {% if job.get("acknowledged") %}
        {% include "job.html"%}
        {%endif%}
        {% endfor %}
        {% endwith %}
    </div>


    <hr style="width:100%;text-align:left;margin-left:0; margin-top: 40px; height: 2px; background-color: black">
    {% endfor %}
</div>