<head>
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/base.css">
    <link rel="stylesheet" href="static/content.css">
    <link rel="stylesheet" href="static/sidebar.css">
    <script src="static/js/main.js" defer></script>
    <script src="static/js/instructions.js" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initialize&loading=async"
            defer></script>
</head>


<style>

    .add-dialog .main-content .buttons{
        width: 300px;
        margin-top: 10px;
    }

    .add-dialog .main-content .buttons button{
        border-radius: 50px;
        margin-bottom: 5px;
    }

    .add-dialog .main-content .buttons button.active{
        background-color: lightblue;
    }


</style>

<div class="header">
    <div class="left">
        <h1>Gluten Frei</h1>
    </div>

    <div class="center">
        <button class="icon instructions">
            Prinzip
        </button>
    </div>


    <div class="right">
        <button class="icon add">
            <img src="static/icons/add-line.svg" width="30px" height="30px">
        </button>

        <button class="icon logout" onclick="location.href='/logout'">
            <img src="static/icons/logout-box-line.svg" width="30px" height="30px">
        </button>

    </div>


</div>

<dialog class="add-dialog">
    <div class="container">
        <div class="dialog-header">
            <h3>
                Lebensmittel Eintrag erstellen</h3>
        </div>

        <div class="main-content">
            <div class="entry"><span>Name</span> <input type="text" name="name"></div>
<!--            <div class="entry"><span>Category</span> <input type="text" name="category"></div>-->
            <div class="entry"><span>Kaufort</span> <input type="text" name="buy_place"></div>
            <div class="entry"><span>Preis</span> <input type="text" name="price"></div>
<!--            <div class="entry"><span>Stichwörter</span> <input type="text" name="keywords"></div>-->
            <div class="buttons">
                <button data-name="vegetarian">Vegetarisch</button>
                <button data-name="vegan">Vegan</button>
                <button data-name="lactosefree">Laktose Frei</button>
                <button data-name="can_contain_traces">Kann Gluten Spuren enthalten</button>
            </div>
            <!--<div class="entry"><span>Bild</span> <input type="file" style="display:none" id="select-image-input"/>
                <button id="select-image-button">Select Image</button>
            </div>-->
            <div class="entry"><span>Bild</span> <input type="file" id="select-image-input" name="image"/>
            </div>

        </div>
        <div class="button-container">
            <button class="button red close">Close</button>
            <button class="button green save" style="background-color: #4c9598">Save
            </button>
        </div>

    </div>

</dialog>

{% include "instructions_dialog.html"%}

<script defer>

    function initialize() {
    let buy_place_input = document.querySelector(".entry input[name='buy_place']")
  new google.maps.places.Autocomplete(buy_place_input);
}

    let add_icon = document.querySelector(".icon.add")
    let add_dialog = document.querySelector(".add-dialog")

    add_icon.addEventListener("click", function(){
        add_dialog.show()
    })

    const closeButton_add_dialog = document.querySelector("dialog.add-dialog button.close")
    closeButton_add_dialog.addEventListener("click", () => {
    add_dialog.close();
    });

    const saveButton_add_dialog = document.querySelector("dialog.add-dialog button.save")
    saveButton_add_dialog.addEventListener("click", async () => {
         let all_inputs = document.querySelectorAll("dialog.add-dialog .entry input")
         let serializedInputs = {};
            for (let i = 0; i < all_inputs.length; i++) {
              const input = all_inputs[i];

              if(input.name == "image"){
                serializedInputs[input.name] = input.files[0].name;

              }
              else{
              serializedInputs[input.name] = input.value;
              }
            }

            let all_button_inputs = document.querySelectorAll("dialog.add-dialog .buttons button")
            for (let i = 0; i < all_button_inputs.length; i++) {
              const input = all_button_inputs[i];
              serializedInputs[input.dataset.name] = input.classList.contains("active") ? true : false
            }

            console.log("serializedInputs: ", serializedInputs)

        const response = await fetch('/food', {
            method: 'POST',
            body: JSON.stringify(serializedInputs),
            headers: {
                'Content-Type': 'application/json',
            }
        });
        const responseText = await response.text();
        if (response.status !== 200) {
            alert("Es gab einen Fehler beim quittieren, bitte die Seite neu laden und erneut probieren.")
            return
        }
        console.log("responseText")
    });

   //document.querySelector('#select-image-button').addEventListener('click', function(){
   //document.querySelector('#select-image-input').click();
//  });


    let image = document.querySelector('#select-image-input')
    image.addEventListener("change", async function(){
        const selectedImage = this.files[0];
        console.log("selectedImage: ", selectedImage)

        const formData = new FormData();
  formData.append('file', selectedImage);
  console.log("formdata: ", formData)

    const response = await fetch('/upload-image', { // Replace '/upload' with your server's upload endpoint
      method: 'POST',
      body: formData
    });

    })


    let speciality_buttons = document.querySelectorAll(".add-dialog .main-content .buttons button")
    console.log("speciality_buttons: ", speciality_buttons)
    speciality_buttons.forEach(function(button){
        button.addEventListener("click", function(e){
            if(this.classList.contains("active")){this.classList.remove("active")}
            else{this.classList.add("active")}




        })

    })


</script>


{% block content %}
{% endblock %}

