{% extends "base.html" %}
{% block content %}

<section class="content">
    <div class="pop-out left">
        <div class="burger-menu">
            <img src="static/icons/menu-fold-fill.svg">
        </div>

<!--        {% include "sidebar.html" %}-->



    </div>

    <div class="burger-menu unfold">
        <img src="static/icons/menu-unfold-fill.svg">
    </div>

    <div class="all_jobs">
<!--        {% include "all_jobs.html" %}-->
    </div>
</section>


<script type="application/javascript">



</script>

{% endblock %}
