


<dialog class="instructions">
        <div class="container">
            <div class="content active" data-slide_number="1">
                <h1>Herzlich Willkomen zum Job Such Helfer Tool</h1>

                <div>
                    <p>Dieses Tool wurde entwickelt um die Job Suche zu vereinfachen (was für eine Überraschung).
                        Das Tool ist nicht kommerziel und in meiner Freizeit geschrieben worden. Falls Fehler auftauchen
                        bitte
                        ich um Nachsicht.
                        Da für eine sinnvolle Anwendung einige Punkte beachtet werden müssen, habe ich diese Anleitung
                        geschrieben. <br>
                        Das Tool hat folgende Ziele:
                    </p>
                    <ul>
                        <li>Die ganze Job Suche kann auf einer Platform erfolgen und es müssent nicht verschiedene
                            Webseiten
                            besucht werden
                        </li>
                        <li>Bereits angesehene Angebote können quittiert werden, das sorgt für Überblick. Neu
                            augeschriebene Jobs können mit einem Klick gesucht werden.
                        </li>
                        <li>Künstliche Intelligenz (in dem Fall GPT) soll helfen abzuschätzen, ob ein entsprechender Job
                            passt oder nicht.
                            Das passiert anhand von einem Text welcher der User eingeben kann, sowie der Jobbeschreibung
                            vom jeweiligen Job.
                        </li>
                        <li>Ein Bewerbungsschreiben kann per Knopfdruck erstellt werden. Dieses nimmt den Text über den
                            User, sowie die Jobbeschreibung als Grundlage.
                        </li>
                    </ul>
                    <p>Auf den folgenden Slides werden die jeweiligen Punkte genauer erklärt.</p>
                </div>
            </div>

            <div class="content" data-slide_number=2 style="display:none">
                <h1>Persönliche Beschreibung hinzufügen</h1>
                <p>Beim Personen Symbol <img src="static/icons/user-line.svg" width="20px" height="20px"> oben rechts im
                    Header
                    kann eine persönliche Beschreibung eingeben werden. Diese sollte idealerweise unterschiedliche
                    Punkte beinhalten:</p>
                <ul>
                    <li>Die Qualifikationen des Benutzers (Abschlüsse, Weiterbildungen, Job Erfahrung etc.)</li>
                    <li>Punkte, die dem Nutzer für einen Job wichtig sind (Bsp. Work Life Balance, gutes Team, 5 Wochen
                        Ferien etc. )
                    </li>
                    <li>Interessen des Nutzers oder sonstiges, die für den Job von Bedeutung sein könnten (z.B. ob der
                        Nutzer den Führerschein und ein Auto hat).
                    </li>
                    <li>Allfällige Dinge, die im Bewerbungsschreiben vorkommen sollten.</li>
                </ul>
            </div>

            <div class="content" data-slide_number=3 style="display:none">
                <h1>Geld Status Abfragen</h1>
                <p>Beim Brieftaschen Symbol <img src="static/icons/wallet-line.svg" width="20px" height="20px"> oben
                    rechts im Header
                    kann der Geld Status abgefragt werden. Leider kostet der Gebrauch von GPT, das Ganze ist aber sehr
                    günstig.
                    Zu Beginn gebe ich jedem Benutzer 30 Rappen Startkapital, das reicht für ca. 30 GPT 4 anfragen. <br>
                    Es kostet <b>nur</b> etwas, wenn eine Empfehlung oder ein Bewerbungsschreben generiert wird, das
                    reine Zusammentragen der Jobs von den verschiedenen Job Portalen ist gratis.</p>

                <p>Beim "GPT Model" Knopf oben rechts, kann zwischen GPT 3.5 und GPT 4 gewählt werden. Ich empfehle
                    stark, dass zum ausprobieren GPT 3.5 gewählt wird (eine Abfrage kostet mit ca. 0.001 Rappen
                    praktisch nichts),
                    danach aber auf GPT 4 umgestellt wird. Das lohnt sich definitiv, die Empfehlungen wie auch das
                    Bewerbungsschreiben werden massiv besser.
            </div>

            <div class="content" data-slide_number=4 style="display:none">
                <h1>Jobs suchen</h1>
                <p>Ist eine Beschreibung hinzugefügt und das GPT Model ausgewählt, kann mit der Jobsuche gestartet
                    werden. Dafür können auf der linken Seite die Suchfilter eingegeben, respektive ausgewählt werden.
                    Bei "Volltext" soll der Job eingegeben werden denn man sucht, zum Beispiel "Sozialarbeiter". Bei Ort
                    können Kantone abgetrennt mit einem Komma eingetragen werden. Dabei ist <b>wichtig</b>, dass die
                    Kantone richtig geschrieben werden.
                    Das Pensum ist selbsterklärend, bei Quellen können die Job Börsen angeben werden, bei denen gesucht
                    werden soll. Jobs.ch und Jobagent sind für alle Jobs gedacht, Sozjobs und Sozialinfo für soziale
                    Berufe.
                </p>
            </div>

            <div class="content" data-slide_number=5 style="display:none">
                <h1>Optionen bei gefundenem Job Angebot</h1>
                <p>Für jedes gefundene Job Angebot gibt es verschiedene Optionen, was damit gemacht werden kann:</p>
                <ul>
                    <li>Job Ausschreibung öffnen: Öffnet die originale Jobausschreibung in einem neuen Tab auf der
                        jeweiligen Jobbörse
                    </li>
                    <li>AI Empfehlung anfordern: Erstellt eine Empfehlung anhand der Nutzerbeschreibung und der
                        Jobausschreibung.
                    </li>
                    <li>Bewerbungsbrief herunterladen: Downloadet ein Bewerbungsschreiben anhand der Nutzerbeschreibung
                        und der Jobausschreibung als Text Datei.
                    </li>
                    <li>Quttieren: Wurde das Jobangebot angesehen, kann es zur besseren Übersicht quittiert werden.
                        Damit wird es in einen eigenen Abschnitt (ganz unten) verschoben.
                    </li>
                </ul>
            </div>

            <div class="content" data-slide_number=6 style="display:none">
                <h1>Letzte Worte</h1>
                <p>Wie bereits erwähnt ist das Tool in meiner Freizeit entstanden und ich verdiene nichts damit (im
                    Gegenteil). Trotzdem denke ich, dass es bei richtigem Gebrauch sehr hilfreich sein kann. Zum Schluss
                    noch ein paar generelle Informationen:</p>
                <ul>
                    <li>Da ich die Angebote auf den Job Börsen ohne Unterstützung vom Job Portal selber sammeln muss
                        (keine Programmier Schnittstelle), kann es durchaus sein, dass es bei einem Angebot mal zu einem
                        Fehler kommt (z.B. Job Ausschreibung kann nicht geöffnet werden, oder komische Empfehlung
                        erscheint etc.) .
                    </li>
                    <li>Wie bei jedem Gebrauch mit künstlicher Intelligenz ist eine gewisse Vorsicht geboten. Erstellte
                        Bewerbungsschreiben sollten zum Beispiel nochmals gründlich durchgelesen und überarbeitet
                        werden. Auch sollten <b>keine</b> kritischen/sensitiven Infos bei der Nutzerbeschreibung
                        angegeben werden. <br>
                        Auch würde ich selbst datenschutztechnisch meinen persönlichen Namen bei der Beschreibung nicht
                        angeben, damit die Infos für die KI nicht zu einem Namen zugeordnet werden können.
                    </li>
                </ul>
            </div>


            <div class="button-container">
                <button class="red close">Schliessen</button>
            </div>

        </div>


        <div class="arrow left"><img src="static/icons/arrow-left-wide-line.svg"></div>
        <div class="arrow right"><img src="static/icons/arrow-right-wide-line.svg"></div>

    </dialog>