<div class="inputs-container">
    <h3>Produkte Suche</h3>
    <div class="input">
        Produkt Name
        <input type="text" name="name" value="" placeholder="z.B. Brot">
    </div>

    <div class="input">
        Kaufort
        <input type="text" name="buy_place" value="" placeholder="z.B. Zürich">
    </div>

    <div class="input">
        Preis
        <div class="row" style="width: 200px">
            <input style="width: 80px" type="text" name="price_from_range" value="" placeholder="z.B. 1.15">
            bis
            <input style="width: 80px" type="text" name="price_to_range" value="" placeholder="z.B. 5.00">
        </div>
    </div>

    <div class="input checkboxes">
         <div class="input">
            Jobs.ch
            <input type="checkbox" name="filter_source_jobsch">
        </div>
    </div>

    <div class="search-products-container">
        <button id="search-products"><img src="static/icons/search-line.svg"></button>
    </div>


</div>


